/*Credit to w3 schools for the table design*/
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
div{
	margin: 20px;
	padding: 10px;
	border: solid #f1f1f1;
}
input {
	margin: 5px;
	display: block;
}
input.ng-untouched {
    background-color: #f1f1f1;
}

